*{
	font-family: 'Space Mono', monospace;
}
body{
		background:rgba(107, 202, 167, 0.5);
}
.container{
	background:url(img2.jpg)no-repeat;
	background-size: cover;
	background-position:top;
	margin:150px auto 10px auto;
	padding:30px;
	color:skyblue;
	border-radius: 10px;
}
button{
	border-radius: 3px;
	background:black;
	border:1px solid black;
}
input{
	background:#CCC;
	border-radius:3px;
	border: 1px solid #CCC;
	width:90px;
	padding:0 0 0 40px;
	color:black;
}
footer{
	text-align:center;
}
footer a{
		color:#000;
}
